<!-- footer start -->
		
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Have a Question? Feel free to reach us !!</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">B-block,IIITM Campus,Gwalior,Madhya Pradesh,India</span></li>
              <li><a href="tel://09630871460"><span class="icon icon-phone"></span>+91 096308 71460<span class="text"> </span></a></li>
              <li><a href="mailto:studentgyanmovement.iiitmg@email.com"><span class="icon icon-envelope"></span>studentgyanmovement.<br>iiitmg@email.com<span class="text"> </span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Developed & Maintained by</h2>
          <div class="block-21 mb-4 d-flex">
            <!-- <a class="blog-img mr-4" style="background-image: url(images/ram.jpg);"></a> -->
            <div class="text">
              
              <h3 style="color: white;" class="heading"> Harshal Hanwantrao Chavhan</h3>
              <div class="meta">
                <div style="color: white;"><span class="icon-calendar"></span> Dec 14, 2019</div>
                <div style="color: white;"><span class="icon-person"></span> Admin</div>
                <div style="color: white;"> 
                
                   

                      <ul class="ftco-social text-center">
                
                <li class="ftco-animate"><a href="https://www.facebook.com/harshal.chavhan.50"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/its_harsha14/"><span class="icon-instagram"></span></a></li>
                <li class="ftco-animate"><a href="https://www.linkedin.com/in/harshal-chavhan-2a1041175/"><span class="icon-linkedin"></span></a></li>
                <li class="ftco-animate"><a href="https://github.com/Harshalc14"><span class="icon-github"></span></a></li>
              </ul>
               
                 </div>
                 <h3 style="color: white;" class="heading"> Utkarsh Singh</h3>
                 <ul class="ftco-social text-center"  >
                
                  <li class="ftco-animate"><a href="https://www.facebook.com/utkarsh2015"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="https://www.instagram.com/usingh2015/"><span class="icon-instagram"></span></a></li>
                  <li class="ftco-animate"><a href="https://www.linkedin.com/in/u2015s"><span class="icon-linkedin"></span></a></li>
                  <li class="ftco-animate"><a href="https://github.com/u2015s/"><span class="icon-github"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>





      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
            <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About us</a></li>
            <li><a href="/teacher"><span class="ion-ios-arrow-round-forward mr-2"></span>SGM Staff</a></li>
            <li><a href="/gallery"><span class="ion-ios-arrow-round-forward mr-2"></span>Gallery</a></li>
            <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Contact us!</h2>
          <form action="#" class="subscribe-form">
            <div class="form-group">
              <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="form-control submit px-3">
            </div>
          </form>
        </div>
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
             
            <li class="ftco-animate"><a href="https://www.facebook.com/sgmiiitm/?epa=SEARCH_BOX"><span class="icon-facebook"></span></a></li>
            <!-- <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p> 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved   </a>
</p>
      </div>
    </div>
  </div>
</footer>

<!-- footer end -->


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>