<h1>Users Page</h1>



    <% people.forEach(function(user){ %>
 <p>
    <li> Name- <%= user.name %><br>
        Email- <%= user.email %><br>
        Subject- <%= user.subject%><br>
        Message -  <%= user.message %><br>  
        </li>
</p>   
    


        


<% }) %>

