<% include ../partials/header %>

    
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/sgmcontact.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Contact Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Address</h3>
          <p>B-block,IIITM Campus,Morena link road,Gwalior-474015</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Contact Number</h3>
          <p><a href="tel://09630871460">+91 096308 71460 </a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Email Address</h3>
          <p><a href="mailto:studentgyanmovement.iiitmg@email.com">studentgyanmoveme<br>nt.iiitmg@email.com</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="bg-light align-self-stretch box p-4 text-center">
          <h3 class="mb-4">Website</h3>
          <p><a href="SGM.herokuapp.com">SGM.herokuapp.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
<form action="/info" method="POST">


  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Name" name="name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Email" name="email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Subject" name="subject">
  </div>
  <div class="form-group">
    <textarea id="" cols="30" rows="7" class="form-control" placeholder="Message" name="message"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
  </div>
</section>

</form>

 


              <% include ../partials/footer %>