<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script src="https://use.fontawesome.com/9dfc16ed6b.js"></script>

    <link rel="stylesheet" type="text/css" href="css/cssfile.css">
    <link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js"></script>

</head>
<body>

<!-- 
<nav class = "nav navbar-inverse navbar-fixed-top">

<div class = "container">
    <div class = "navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href = "#" class = "navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> IMGS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class = "nav navbar-nav">
        <li><a href = "#">About</a></li>
         <li><a href = "#">Contact</a></li>
    </ul>
    <ul class = "nav navbar-nav navbar-right">
    <li><a href = "#">Sign Up</a></li>
         <li><a href = "#">Login</a></li>
    </ul>
    </div>
    </div>
</nav>
 -->

<div class = "container">


    <div class = "jumbotron">
        <h1><i class="fa fa-camera-retro" aria-hidden="true"></i> The Image Gallery</h1>
        <p></p>
    </div>

    <div class = "row">

        <div class = "col-lg-4 col-sm-6">
            <div class = "thumbnail">
                <a href="images/SGM1.jpg" data-lightbox="mygallery"><img src="images/SGM1.jpg"></a>
            </div>
        </div>

        <div class = "col-lg-4 col-sm-6">
            <div class = "thumbnail">
                <a href="images/sgm5.jpeg" data-lightbox="mygallery"><img src="images/sgm5.jpeg"></a>
            </div>
        </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm46.jpeg" data-lightbox="mygallery"><img src="images/sgm46.jpeg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
            <div class = "thumbnail">
                <a href="images/sgm4.jpg" data-lightbox="mygallery"><img src="images/sgm4.jpg"></a>
            </div>
        </div>

        <div class = "col-lg-4 col-sm-6">
            <div class = "thumbnail">
                <a href="images/sgm3.jpg" data-lightbox="mygallery"><img src="images/sgm3.jpg"></a>
            </div>
        </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm47.jpeg" data-lightbox="mygallery"><img src="images/sgm47.jpeg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm2.jpg" data-lightbox="mygallery"><img src="images/sgm2.jpg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm433.jpg" data-lightbox="mygallery"><img src="images/sgm433.jpg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm99.jpeg" data-lightbox="mygallery"><img src="images/sgm99.jpeg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm4.jpeg" data-lightbox="mygallery"><img src="images/sgm4.jpeg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm3.jpeg" data-lightbox="mygallery"><img src="images/sgm3.jpeg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm16.jpg" data-lightbox="mygallery"><img src="images/sgm16.jpg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm32.jpg" data-lightbox="mygallery"><img src="images/sgm32.jpg"></a>
        </div>
    </div>

<div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm14.jpg" data-lightbox="mygallery"><img src="images/sgm14.jpg"></a>
        </div>
    </div>

    <div class = "col-lg-4 col-sm-6">
        <div class = "thumbnail">
            <a href="images/sgm18.jpg" data-lightbox="mygallery"><img src="images/sgm18.jpg"></a>
        </div>
    </div>

     
</div>

</body>
</html>