
<% include ../partials/header %>



<section class="hero-wrap hero-wrap-2" style="background-image: url('images/team.png');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">SGM Staff</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Teachers <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>



  <section class="harshi"><P><i><b>SGM staff is primerily divided into Managers and Teachers. Managers do the work of pick up and drop and other small things such as opening classes, taking attendance,etc. Teachers are the backbone of SGM. No other work is assigned to them except teaching.</b></i></P></section>
      
      <section class="  ftco-no-pb">
          <b><h1 class="navbari" style="margin-bottom: 20px;">Our Pathshowers</h1></b>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                               <div class="img align-self-stretch" style="background-image: url(images/GAURAV.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Gaurav Agarwal</h3>
                              <span class="position mb-2">CO-ORDINATOR</span>
                              <div class="faded">
                                  <p></p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/MAHIMA.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Mahima Gupta</h3>
                              <span class="position mb-2">CO-ORDINATOR</span>
                              <div class="faded">
                                  <p> </p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/abhi.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Abhishek Verma</h3>
                              <span class="position mb-2">MANAGEMENT HEAD</span>
                              <div class="faded">
                                  <p></p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/divya.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Divya Lakhwani</h3>
                              <span class="position mb-2">MANAGEMENT HEAD</span>
                              <div class="faded">
                                  <p></p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/Ayush.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Ayush Gupta</h3>
                              <span class="position mb-2">MANAGEMENT HEAD</span>
                              <div class="faded">
                                  <p></p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/NISHI.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Nishidha Sri</h3>
                              <span class="position mb-2">SENIOR MANAGEMENT EXECUTIVE</span>
                              <div class="faded">
                                  <p></p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/sarthak.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Sarthak Singh</h3>
                              <span class="position mb-2">SENIOR MANAGEMENT EXECUTIVE</span>
                              <div class="faded">
                                  <p></p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Mahinder</h3>
                              <span class="position mb-2">SENIOR MANAGEMENT EXECUTIVE</span>
                              <div class="faded">
                                  <p></p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>


    <section class="  ftco-no-pb">
          <h1 class="navbari" style="margin-bottom: 40px;">Teachers</h1>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/ankitb.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Ankit Kumar</h3>
                              <span class="position mb-2">TEACHER</span>
                              <div class="faded">
                                  <p>I am adventurous, enthusiast and workaholic by nature. I love SGM. My dream is to make SGM classes digital.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/harsh.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Harshal Hanwantrao Chavhan</h3>
                              <span class="position mb-2">TEACHER</span>
                              <div class="faded">
                                  <p>I am an ambitious workaholic, but apart from that, pretty simple person. From computer to communism, Alexander to Einestein, I'm interested in everything.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/vivek.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Vivek Kamboj</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>A student, teacher.....Always smiley | moody.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/hritik.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Hritik Pihal</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>My interests are learning techs, dancing, music, a pinch of blogging and acting.Apart from all this I love smiles on other's face.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/afroz.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Afroz</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>Currently I am 2nd year student at ABV-IIITM Gwalior and I am Maths Teacher in SGM of Class 9th.Being an IT Student I love Comptitive Programming.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/himanshu.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Himanshu Pandey</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I am a teacher in SGM.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/abhay.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Abhay Chaurasiya</h3>
                              <span class="position mb-2">Art Teacher</span>
                              <div class="faded">
                                  <p>I am in Sunday Activities.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/divyansh.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Divyansh Kumar</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I'm natioal basketballer who loves coding and development. I believe on democracy and secularism.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/nymika.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Nymika Pasnoori</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I am currently pursuing Btech with a keen interest to teach children.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/rahul.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Rahul Dev</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>Interested in learning and implementing new technologies and skills.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/richa.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Richa Kumari</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>Focused, hardworking , humanistic and jolly in nature</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/rani.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Pallavi Rani Bhakta</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p> I am honest about my work.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/dhruval.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Dhruval Kushwaha</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>Teacher of Maths in 11th class.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/mohit.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Mohit Soni</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I'm Mohit. I like to code and game. I wannabe a great game developer. My ideal is Hideo Kojima.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/mohit.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Mohit Yadav</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I'm from Rajasthan.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/LATIKESH.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Latikesh Ahire</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>Love travelling,watching movies and enjoying my life.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>



       <div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/ravi.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Ravi Chopra</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I am hardworking and consistent in my work.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/jayant.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Jayant Patil</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I am ready to give my 100  percent effort in the club.  I am truely dedicated towards the club. I promise to  always available for the students and the higher authorities in the club.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/nafees.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Nafees Nehar</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I take classes of Social Science for class 8 in SGM. In my class 12 I co-founded Science Club. I am also a dedicated quizzer.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/vicky.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Vinayak Pandey</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I am a kind humble pearson with a little bit short temperament.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/manish.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Manish Mahawar </h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I am from Jaipur Rajasthan 
. I am a teacher in SGM-IIITM
. I have good writing skills</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/suman.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Suman Kumar</h3>
                              <span class="position mb-2"> Teacher</span>
                              <div class="faded">
                                  <p>I am very honest. I'm dedicated towards the club and is always available whenever required. I believe in team work.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/saini.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Pankaj Kumar Saini</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I am eager to learn new skills. I am fully responsible for my own work. I know how to manage time properly and I can handle multiple tasks . </p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/nehal.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Nehal Gupta</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>Simple, bold, sweet.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>



<div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/pandit.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Srushti Pandit</h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I'm helping in nature and I like to teach.I like to participate in decent activities.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/harsha.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Harsh Sharma</h3>
                              <span class="position mb-2"> Teacher</span>
                              <div class="faded">
                                  <p>I am a freshman student, and some of my hobbies include reading, writing and programming. I enjoy explaining concepts to others, and am always eager to learn something new.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/nik.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Nikhil Singhal</h3>
                              <span class="position mb-2">Art Teacher</span>
                              <div class="faded">
                                  <p>My self Nikhil Singhal.
I am in IMT first year.
I am from Dholpur, Rajasthan
I teach science in class 8th.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/amit.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Amit Kumar</h3>
                              <span class="position mb-2"> Teacher</span>
                              <div class="faded">
                                  <p>I am mathematics teacher for class 5th.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
      </section>












<section class="  ftco-no-pb">
          <h1 class="navbari" style="margin-bottom: 20px;">Managers</h1>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/shivam.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Shivam Bhasker</h3>
                              <span class="position mb-2">Managerial Head</span>
                              <div class="faded">
                                  <p>I am always in hibernation except SGM classes.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/giri.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Saurabh Prakash Giri</h3>
                              <span class="position mb-2">Managerial Head</span>
                              <div class="faded">
                                  <p>I am a management team member of SGM. I have been part of the team for the last 1 year. Really enjoyed working at SGM.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>





<div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/sana.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Sana Jahnavi</h3>
                              <span class="position mb-2">Managerial Head</span>
                              <div class="faded">
                                  <p>I'm the member of management in SGM.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>



                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/madhu.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Raparthi Sai Madhuri</h3>
                              <span class="position mb-2">Managerial Head</span>
                              <div class="faded">
                                  <p>I am a member of SGM management Team.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>





                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/siya.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Siya</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I'm in management section of sgm.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/ANKIT.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Ankit Rastogi</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I'm in management and I'm enjoying this job very much. I'm fully dedicated towards the club.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/aaaa.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Krishna prasad samudrala</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I'm from Telangana. My hobbies are playing chess, volleyball. I'm enthusiastic to seve in service sector.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/shrey.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Shrey Gupta</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I am an honest and hardworking guy , bit extrovert and fun loving.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  



<div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/praff.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Prafful Agrawal </h3>
                              <span class="position mb-2">Teacher</span>
                              <div class="faded">
                                  <p>I think of myself as a hard-working,dedicated person that is why I am  working at management of SGM.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/nikku.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Niketan Mangulley</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>Responsible to work,ready to learn new things,helping nature.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/kaus.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Kaustubh Milind Chaudhari</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I am Manager in SGM</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/sejal.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Sejal Jain</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I am in Management team.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/niki.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Nikita Rathore</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I'm in management team in SGM.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/palak.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Palak Jain</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I am in management team.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/darsh.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Darsh shah</h3>
                              <span class="position mb-2">Art Teacher</span>
                              <div class="faded">
                                  <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>
                   

<div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/utsav.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Utsav Verma</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I love to dance and play Basketball. I also do acting .I m good in studies. I love my family.</p>
                                   
                </div>
                          </div>
                      </div>
                  </div>




<div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/kapil.jpeg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Kapil Patel</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I teach social science to class 6th at SGM. I'm a vollyball player and youtuber. I do every work honestly and obediently. </p>
                                   
                </div>
                          </div>
                      </div>
                  </div>

                  <!-- <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="staff">
                          <div class="img-wrap d-flex align-items-stretch">
                              <div class="img align-self-stretch" style="background-image: url(images/sejal.jpg);"></div>
                          </div>
                          <div class="text pt-3 text-center">
                              <h3>Sejal jain</h3>
                              <span class="position mb-2">Manager</span>
                              <div class="faded">
                                  <p>I am in management team .</p>
                                   
                </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>




                  
              </div>
          </div>



      </section>



    <% include ../partials/footer %>
